@use './_partials/mixins';
@use './_partials/variables';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #CCCCCC;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mixins.desktop {
        flex-direction: row-reverse;
        justify-content: center;
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin-top: 1rem;
        font-size: 2.125rem;

        @include mixins.tablet {
            font-size: 3.125rem;
            margin-bottom: .5rem;
        }

        @include mixins.desktop {
            font-size: 4.125rem;
        }
    }

    &__description {
        margin-bottom: 1rem; 
        font-size: .875rem;
        font-style: italic;

        @include mixins.tablet {
            font-size: 1.125rem;
        }

        @include mixins.desktop {
            font-size: 1.25rem;
        }
    }

    &__resize-button {
        @include mixins.button-styling;

        &:hover {
            @include mixins.button-hover;
        }
    }
}

.container {
    width: 18.75rem;
    height: 18.75rem;
    display: grid;
    margin-bottom: 1rem;
    background-color: white;

    @include mixins.tablet {
        width: 33rem;
        height: 31.25rem;
    }

    @include mixins.desktop {
        width: 42rem;
        height: 35rem;
        margin-right: 13rem;
    }
}

.squares {
    background-color: white;
}

.buttons {
    display: flex;
    flex-direction: column;

    &__retro-button, &__grey-button, &__rgb-button, &__clear-button {
        @include mixins.button-styling;

        &:hover {
            @include mixins.button-hover;
        }
    }

    @include mixins.tablet {
        flex-direction: row;
        width: 34rem;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    @include mixins.desktop {
        flex-wrap: nowrap;
        flex-direction: column;
        width: 13rem;
        height: 15rem;
    }
}

.active {
    background-color: #333333;;
    color: white;
}