/* Media Breakpoints */
$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;

/* Colors and Backgrounds */
$color-primary-background: "#DD5353";
$color-cta-active: "#B73E3E";
$color-cta: "#DBC8AC";
$color-font:"#EDDBC0";
